{% macro render_blog_post(post, from_index=false) %}

<div class="blog-post {{ "blog-post--from-index" if from_index }} ">
  {% if from_index %}
  <h2 class="title is-2">
    <a href="{{ post | url }}">{{ post.title }}</a>
  </h2>

  <div class="content">
    {{ post.preview }}

    <a href="{{ post | url }}">Read more...</a>
  </div>
  {% else %}
  <h2 class="title is-2">{{ post.title }}</h2>

  <p class="author">
    written by
    
    {% if post.twitter_handle %}
    <a href="https://twitter.com/{{ post.twitter_handle }}">
      {{ post.author or post.twitter_handle }}
    </a>
    {% else %}
    {{ post.author }}
    {% endif %}
    
    on {{ post.pub_date }}
  </p>

  <div class="content">
    {{ post.body }}
  </div>
  {% endif %}
</div>

{% endmacro %}
